*{
	padding: 0;
	margin: 0;
}
body {
  			background-image: url(Yy.jpg);
  			background-repeat: no-repeat;
 			background-attachment: fixed;
  			background-size: 100% 100%;
		}
.wrapper{
	background: url(Yy.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);

}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 60px;
}
.navbar ul li a{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 5px 0px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: black;
	border-radius: 200px;
}
